.form {
  display: table-caption;
}

/* .label {
}
.title {
} */
.input {
  padding: 8px;
  border: 1px solid teal;
  margin-bottom: 10px;
  border-radius: 2px;
  transition: border 250ms linear;
}

.input:focus-visible {
  border: 1px solid rgb(9, 169, 108);
  outline: none;
}

.button {
  margin-bottom: 30px;
  padding: 8px 15px;
  background-color: rgb(9, 169, 108);
  color: white;
  border: transparent;
  border-radius: 4px;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: box-shadow 250ms linear, background-color 250ms linear;
}

.button:active {
  box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
  background-color: rgb(13, 150, 97);
}
