.container {
  padding: 20px;
  width: 320px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgb(176, 173, 173);
  border: 1px solid rgba(0, 128, 128, 0.25);
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .container {
    width: 680px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1350px;
  }
}

.title {
  margin-bottom: 15px;
  color: teal;
}

.isEmpty {
  color: rgb(159, 161, 161);
}
